@import "tailwindcss";

/* Colors */
/* 
header footer     #FFCA8D

yellow            #FAB735
yellow-hover      #F2A30F

orange            #F2680F
orange-dark       #DB4803
orange-hover      #F2570F

beige             #FBE7BB
beige-dark        #F6DA9E
beiga-dark-hover  #EAC984

red               #EF4444
red-hover         #DC2626
red-strong        #A40000

black             #000000
white             #FFFFFF

gray-light        #D1D5DB
gray              #9CA3AF
gray-dark         #374151
*/

.font-karantina {
  font-family: var(--font-karantina);
}

.font-katibeh {
  font-family: var(--font-katibeh);
}

/* Vertical scrolls */

@keyframes infinite-scroll-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-52% - 200px));
  }
}

.animate-infinite-scroll-vertical {
  animation: infinite-scroll-vertical 10s linear infinite;
  will-change: transform;
  backface-visibility: hidden;
  perspective: 1000px;
}

/* Horizontal scrolls */

@keyframes infinite-scroll-horizontal-top {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 5px));
  }
}

.animate-infinite-scroll-horizontal-top {
  animation: infinite-scroll-horizontal-top 35s linear infinite;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  display: flex;
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes infinite-scroll-horizontal-team {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 25px));
  }
}

.animate-infinite-scroll-horizontal-team {
  animation: infinite-scroll-horizontal-team 20s linear infinite;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  display: flex;
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes infinite-scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(calc(-50% - 40px)));
  }
}

.animate-infinite-scroll-horizontal {
  animation: infinite-scroll-horizontal 25s linear infinite;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  display: flex;
  backface-visibility: hidden;
  perspective: 1000px;
}

/* Scrollbar 1 */

.custom-scrollbar-1 {
  scrollbar-width: thin;
  padding-right: 16px;
  scrollbar-color: #f2680f #fbe7bb;
}

.custom-scrollbar-1::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar-1::-webkit-scrollbar-track {
  background: #fbe7bb;
  border-radius: 10px;
}

.custom-scrollbar-1::-webkit-scrollbar-thumb {
  background: #f2680f;
  border-radius: 10px;
}

.custom-scrollbar-1::-webkit-scrollbar-thumb:hover {
  background: #f2680f;
}

/* Scrollbar 2 */

.custom-scrollbar-2 {
  scrollbar-width: thin;
  padding-right: 16px;
  scrollbar-color: #fbe7bb #f2680f;
}

.custom-scrollbar-2::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.custom-scrollbar-2::-webkit-scrollbar-track {
  background: transparent;
  background-color: #f2680f;
}

.custom-scrollbar-2::-webkit-scrollbar-thumb {
  background-color: #fbe7bb;
  border-radius: 10px;
}

.custom-scrollbar-2::-webkit-scrollbar-thumb:hover {
  background-color: #fbe7bb;
}

.custom-scrollbar-2::-webkit-scrollbar-thumb:active {
  background-color: #fbe7bb;
}

/* Toast settings */

.custom-toast {
  max-width: 400px;
  word-wrap: break-word;
}

.toast-success {
  background-color: #fbe7bb;
  color: #000000;
  font-family: "Katibeh", sans-serif;
  font-size: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.toast-error {
  background-color: #ef4444;
  color: #000000;
  font-family: "Katibeh", sans-serif;
  font-size: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

/* Settings file input */

input[type="file"] {
  display: none;
}

input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

input[type="file"] {
  position: relative;
}

input[type="file"]::before {
  content: "";
}

input[type="file"]:hover::before {
  background: #f2570f;
}
