@import "tailwindcss";

.font-karantina {
  font-family: var(--font-karantina);
}

.font-katibeh {
  font-family: var(--font-katibeh);
}

@keyframes infinite-scroll-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-31% - 200px));
  }
}

.animate-infinite-scroll-vertical {
  animation: infinite-scroll-vertical 5s linear infinite;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes infinite-scroll-vertical-long {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-31.5% - 200px));
  }
}

.animate-infinite-scroll-vertical-long {
  animation: infinite-scroll-vertical-long 5s linear infinite;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
  perspective: 1000px;
}

/* @keyframes infinite-scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-infinite-scroll-horizontal {
  animation: infinite-scroll-horizontal 20s linear infinite;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  display: flex;
  flex-direction: row;
} */
